<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="33" android:versionName="1.1.33" package="com.zatwierdz_mm" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29" />
	<application android:label="Zatwierdz_MM.Android" android:icon="@mipmap/skanerICO" android:usesCleartextTraffic="true"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>